.loader-section {
    position: fixed;
    top: 0;
    width: 51%;
    height: 100%;
    background: #2C3E50;
    z-index: 1000;
}
.section-left {
    left: 0;
}

.section-right {
    right: 0;
}
.loaded  .loader-section.section-left {
    transform: translateX(-100%);
    transition: all 0.7s ease 1.3s;
}
.loaded  .loader-section.section-right {
    transform: translateX(100%);
    transition: all 0.7s ease 1.3s;
}
.writer{
    position: absolute;
    z-index: 1100;
    width: 100%;
    height: 100vh;
    display: none;
    justify-content: center;
    align-items: center;
}
#typewriter{
    position: relative;
    z-index: 1100;
    color: #F5E6CC;
    font-family: 'Pacifico', cursive;
    letter-spacing: 2px;
    font-size: 10ex;
}

